<!--
  templateType: membership_passwordless_auth_confirmation_page
  isAvailableForNewContent: true
  label: Membership — Password Less
-->
{% extends "../layouts/base.html" %}
{% block body %}
{% set template_translations = load_translations("/vipsclub-portal-2026/templates/_locales", html_lang, "en") %}
{% set user_email = request.query_dict.email or "example@email.com" %}
{% if request.query_dict.redirect_url %}
{% set redirect_query_param = "?redirect_url=" ~ request.query_dict.redirect_url %}
{% endif %}

{% require_css %}
<link rel="stylesheet" href="{{ get_asset_url('../../css/auth/auth-pages.css') }}">
<style>
  main.auth-page .auth-form__header{
    margin-bottom:0;
  }

  .auth-page__card-form p{
    margin-bottom:1.5rem;
  }

  .form-separator {
    padding:1rem;
    text-align:center;
    font-size: 20px;
    margin: 0 !important;
  }

  .auth-page__card-form .hs-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }


</style>
{% end_require_css %}

<main class="auth-page">
  <header class="auth-page__header" style="background: linear-gradient(163.37deg, #000000 36.19%, #a22b34 66.10%);">
    <img class="auth-page__logo" src="{{ get_asset_url("../../img/VIPSCLUB.png" )}}">
  </header>
  <div class="auth-page__body">
    <div class="auth-page__card">
      <img class="auth-page__card-photo" src="{{ get_asset_url("../../img/VIPSCLUB_SYSTEM_IMAGE.png" )}}">
      <div class="auth-page__card-form">
        <div class="auth-form__header">
          {% module "passwordless_auth_confirmation_heading"
      path="@hubspot/rich_text",
      html={{ "<h1 class='auth-form__heading'>" ~ template_translations.membership_passwordless_auth_confirmation_heading.message ~ "</h1>" }}
    %}
        </div>

        {% module "passwordless_auth_confirmation_description"
      path="@hubspot/rich_text",
      html={{ "<p>" ~ template_translations.membership_passwordless_auth_confirmation_description.message ~ "</p><p>" ~ template_translations.membership_passwordless_auth_confirmation_fallback_instructions.message ~ "</p>" }}
    %}

        {% module "passwordless_auth_confirmation_resend_button"
      path="@hubspot/passwordless_auth_resend_signin"
    %}

        {% module "passwordless_auth_confirmation_or"
      path="@hubspot/rich_text",
      html={{ '<p class="form-separator form-separator--light form-separator--small">' ~ template_translations.membership_passwordless_auth_confirmation_or.message ~ "</p>" }}
    %}

        {% module "passwordless_auth_confirmation_signin_button"
      path="@hubspot/button",
      extra_classes="button-wrapper button-wrapper--secondary button-wrapper--membership-passwordless-auth",
      button_text={{ template_translations.membership_passwordless_auth_confirmation_signin_button.message }},
      link={
        "url": {
          "type": "EXTERNAL",
          "href": "/_hcms/mem/login" ~ redirect_query_param
        }
      }
    %}

        <div class="" style="margin-top:24px;">
          {% module "admin_contact"
      path="@hubspot/rich_text",
      html={{ "<p>" ~ template_translations.membership_passwordless_auth_confirmation_contact_admin.message ~ "</p>" }}
    %}
        </div>
      </div>
    </div>
  </div>
  <footer class="auth-page__footer">
  <p>© Copyright VIPS Club. All Rights Reserved <a href="https://www.vipsclub.com.au/dashboard?hsLang=en-au">&nbsp;Privacy Policy</a></p>
  </footer>
</main>



<script>
  window.Userback = window.Userback || {};
  Userback.access_token = "P-9ZwYraweOSFazwyWMBYDroJbo";
  // identify your logged-in users (optional)
  Userback.user_data = {
    id: "123456", // example data
    info: {
      name: "someone", // example data
      email: "someone@example.com" // example data
    }
  };
  (function(d) {
    var s = d.createElement('script');s.async = true;s.src = 'https://static.userback.io/widget/v1.js';(d.head || d.body).appendChild(s);
  })(document);
</script>


{% endblock body %}

